{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Espacio Comunal{% endblock %}

{% block content %}

{% if messages %}
<div class="container mt-4 d-flex justify-content-center" style="border: 0cap;">
  <div class="col-md-8">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm text-center position-relative"
      role="alert">
      <i class="fa-solid fa-circle-info me-2"></i> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>

      <!-- Barra de progreso -->
      <div class="alert-progress"></div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'js/mensaje.js' %}"></script>
{% endif %}
<div class="container my-4">
  <div class="p-4">
    <h3 class="text-center text-primary mb-4">
      <i class="fa-solid fa-pen-to-square me-2"></i>Editar Espacio Comunal
    </h3>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label text-light">Nombre del Espacio</label>
        {{ form.nombre }}
      </div>

      <div class="mb-3">
        <label class="form-label text-light">Descripción</label>
        {{ form.descripcion }}
      </div>

      <div class="mb-3">
        <label class="form-label text-light">Monto por Hora</label>
        {{ form.monto_hora }}
      </div>

      <div class="mb-3">
        <label class="form-label text-light">Imagen del Espacio</label><br>
        {% if espacio.imagen %}
          <img src="{{ espacio.imagen.url }}" class="rounded mb-2" width="150" height="100" style="object-fit: cover;">
          <p class="text-muted small">Sube una nueva imagen si deseas reemplazarla.</p>
        {% endif %}
        {{ form.imagen }}
      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">
          <i class="fa-solid fa-save"></i> Guardar Cambios
        </button>
        <a href="{% url 'gestionar_espacios' %}" class="btn btn-secondary ms-2">
          <i class="fa-solid fa-arrow-left"></i> Volver
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
