asgiref==3.9.2
autopep8==2.3.2
charset-normalizer==3.4.3
colorama==0.4.6
Django==5.2.6
django-widget-tweaks==1.5.0
mysqlclient==2.2.7
pillow==11.3.0
pycodestyle==2.14.0
qrcode==8.2
reportlab==4.4.4
sqlparse==0.5.3
tzdata==2025.2
