{% extends "base.html" %}
{% block title %}Detalle de Solicitud{% endblock %}
{% load static %}
{% block content %}
<!-- MENSAJES FLASH -->
{% if messages %}
<div class="container mt-4 d-flex justify-content-center" style="border: 0cap;">
  <div class="col-md-8">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm text-center position-relative"
      role="alert">
      <i class="fa-solid fa-circle-info me-2"></i> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>

      <!-- Barra de progreso -->
      <div class="alert-progress"></div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'js/mensaje.js' %}"></script>
{% endif %}
<div class="container py-5">
  <div class="card shadow-lg p-4" style="background-color: var(--color-bg-secondary);">
    <h3 class="text-center mb-4" style="color: var(--color-primary);">
      🧍 Detalle de Registro de Vecino
    </h3>

    <div class="row g-4">
      <div class="col-md-8">
        <table class="table table-sm text-light">
          <tr><th>RUN:</th><td>{{ vecino.run }}</td></tr>
          <tr><th>Nombre:</th><td>{{ vecino.nombre }}</td></tr>
          <tr><th>Dirección:</th><td>{{ vecino.direccion }}</td></tr>
          <tr><th>Correo:</th><td>{{ vecino.correo }}</td></tr>
          <tr><th>Teléfono:</th><td>{{ vecino.telefono }}</td></tr>
          <tr><th>Fecha de registro:</th><td>{{ vecino.fecha_registro|date:"d/m/Y H:i" }}</td></tr>
          <tr><th>Estado actual:</th><td>{{ vecino.estado }}</td></tr>
        </table>

        {% if vecino.evidencia %}
        <div >
          <strong style="filter: invert(1); opacity: 0.9;" >Evidencia adjunta:</strong><br>
          <a href="{{ vecino.evidencia.url }}" target="_blank" class="btn btn-outline-info btn-sm mt-2">
            Ver Documento
          </a>
        </div>
        {% else %}
          <p class="style="filter: invert(1); opacity: 0.9;"">Sin evidencia cargada.</p>
        {% endif %}
      </div>
    </div>

    <hr class="border-secondary mt-4">

    <div class="text-center">
      <form method="post" action="{% url 'usuarios_aprobar' vecino.id_vecino %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-success px-4"> Aprobar</button>
      </form>
      <form method="post" action="{% url 'usuarios_rechazar' vecino.id_vecino %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger px-4"> Rechazar</button>
      </form>
      <a href="{% url 'usuarios_pendientes' %}" class="btn btn-outline-light ms-2">Volver</a>
    </div>
  </div>
</div>
{% endblock %}
