{% extends "base.html" %}
{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <a href="{% url 'home' %}">  < Volver </a> 
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'proyectos_lista' %}">Mis Proyectos</a>
    </div>
</div>
<div class="card">
  <h2>Proyectos vecinales</h2>
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Vecino</th>
        <th>Presupuesto</th>
        <th>Estado</th>
        <th>Fecha de postulación</th>
        <th>Documento</th>
      </tr>
    </thead>
    <tbody>
      {% for p in proyectos %}
        <tr>
          <td>{{ p.titulo }}</td>
          <td>{{ p.id_vecino.nombre }}</td>
          <td>${{ p.presupuesto|default:"—" }}</td>
          <td>{{ p.estado }}</td>
          <td>{{ p.fecha_postulacion|date:"d/m/Y" }}</td>
          <td>
            {% if p.documento_adj %}
              <a href="{{ p.documento_adj.url }}" target="_blank">Ver</a>
            {% else %}
              —
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No existen postulaciones registradas.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
