{% extends "base.html" %}
{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <a href="{% url 'proyectos_todos' %}">  < Volver </a> 
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'proyectos_crear' %}">Crear Nuevo Proyecto</a>
    </div>
</div>

<div class="card">
  <h2>Tus Proyectos Vecinales</h2>
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Presupuesto</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Respaldo</th>
      </tr>
    </thead>
    <tbody>
      {% for p in proyectos %}
        <tr>
          <td>{{ p.titulo }}</td>
          <td>${{ p.presupuesto }}</td>
          <td>{{ p.estado }}</td>
          <td>{{ p.fecha_postulacion|date:"d/m/Y" }}</td>
          <td>
            {% if p.archivo_respaldo %}
              <a href="{{ p.archivo_respaldo.url }}" target="_blank">Ver</a>
            {% else %}
              —
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="5">No hay postulaciones registradas.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
